#hidden_messages {
    border: 1px solid navy;
    background-color: lightblue;
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.list-group-item {
    text-align: center; 
    border-bottom: 2px solid navy;
    border-left: 2px solid navy;
    margin: 0.5rem 0 0.5rem 0;
}