<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body class="container">

    
    <h1> Cupcakes </h1>
    <div id="hidden_messages" style="display: none">

    </div>
    
    <div style="width: 50vw; text-align: center;">
        <form id="new_cupcakes">
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group cupcake_field">
                {{ field.label }}
                {{ field(class="form-control") }}
            </div>
            {% endfor %}
            {{ form.csrf_token }}
            <button class="btn btn-md btn-success" id="add_cupcake_btn" style="margin: 2rem 0 2rem 0;"> Add </button>
        </form>
    </div>



    <div >
        <ul id="cupcake_list" class="list-group">

        </ul>
    </div>




    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
    
</body>
</html>



